* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
}

button {
  border: none;
  text-align: center;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);


  &:hover {
    cursor: pointer;
  }

  &:active {
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(4px);
  }
}


